* {
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0;
}

.herobox {
    background-color: #1f2937;
    margin: 0;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 35px;
}