* {
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 35px;
}

h3 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.header {
    background-color: #1f2937;
    margin: 0;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.herobox {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 100px;
}

.herobox h2 {
    
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.herobox p {
    font-size: 18px;
    color: #e5e7eb;
}

.herobox button {
    background-color: #3882f6;
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    max-width: 100px;
}

.herocontent {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.heroimage {
    width: 500px;
    height: 300px;
    background-color: gray;
    
}

.products {

  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;    
  gap: 10px;
}

.card {
    background-color: #1f2937;
    border-radius: 10px;
    border:5px solid #5b2e8f;
    width: 100px;
    height: 100px;

}

.text {
 text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  align-items: center;
  margin-bottom: 10px;
  
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 45px;
    text-align: center;
}

.quotetext {
    font-size: 24px;
    color: #1f2937;
    font-style: italic;
}

.quoteauthor {
    font-size: 18px;
    color: #432268;
    font-style: bold;
    text-align: right;
}

.cta {
    display: flex;
    margin: 100px;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.ctatext {


}

.ctatext h3{
    color: white;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
}

.ctatext p{
    color: white;
    font-size: 18px;
    font-weight: 300;
    
}

.cta button {
    background-color: #3882f6;
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    
}

.footer {

     background-color: #1f2937;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: large;
     margin-bottom: 5px;
     height: 150px;
}